
div#body-content{
    min-width: 100%;
    min-height: 100%;
    box-sizing:border-box;
    background-color: #e7e7e7;
}

div#container {
    height: 9em;
    width:300px;
}

div#container .highcharts-container {
    right: 2.85em;
}

div.left-part {
    width: 785px;
    float: left; 
}

div#content-part {
    padding: 40px;
    margin: 3em;
    background-color: #fff;    
    height: 29em;
    font-size: 110%;
}

div#content-part > span {
    display: block;
    padding-bottom: 0.5em;
}

div#content-part > h4 {
    color: #8590a6;
}

img.img-data {
    margin-top: -25px!important;
}

div.right-part {
    float: right;
    padding: 40px;
    margin: 3.3em;
    background-color: #fff;
    width:300px;
    height:500px;
}

div.right-part > span {
    position: relative;
    right: 40px;
    display: block; 
    color: #8590a6;
}

div.like {
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.3em;
}

div.like .active{
    color: #f22;
}